*{
    box-sizing: inherit;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    padding: 0;
    margin: 0;
   
}

/* @media (min-width: 64rem) {
    .hero {
        background: url(./images/bg-curvy-desktop.svg) no-repeat center bottom;
        background-size: contain;
        background-color: #1c2431;
        padding-top: 4.625rem;
    }
    } */


.hero{
    background: url(./images/bg-curvy-desktop.svg) no-repeat center bottom ;
    background-size: contain;
    background-color: #1c2431;
    position: relative;
    z-index: 1;
    height: 100%;
}
/* .hero::before {
    content: "";
    position: absolute;
    bottom: 0;
    background: #181f2a;
    background-size: contain;
    width: 100vw;
    height: 1rem;    z-index: -1;

} */
.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-content: center;
    align-items: center;
    padding-top: 1.5rem;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    list-style: none;
    padding-right: 1.75rem;
    text-transform: uppercase;
    font-weight: 700;
   
}

.links a {
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.links a:hover {
    color: white;
}

ul li a {
    text-decoration: none;
    list-style: none;
    list-style-type: disc;
    color: #c6cbcd;
    
}

.header img {
 
    height: 3.25rem;
    padding-left: 1.75rem;
 
}

.first-headline {
    color: white;
    text-align: center;
    /* position: relative; */
    width: 40ch;
    font-weight: 700;
    font-size: 40px;
    
}



.second-headline {
    color: #d4d4d4d8;
    text-align: center;
    max-width: 52ch;
    font-size: 19px;
    font-weight: lighter;
    padding-top: 0px;
}

.first-headline::before {
    content: "";
    display: block;
    background: url(./images/illustration-intro.png) no-repeat;
    background-size: contain;
    width: 45rem;
    height: 33rem;
    padding-bottom:80px;
    margin-left: 90px;
}

.headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    
}

button {
    width:16rem;
    color: white;
    height: 3rem;
    font-size: 20px;
    border-radius: 30%;
    border-radius: 40px;
    background: linear-gradient(to right, #65e2d9, #339ecc);
    border: none;
    outline: none;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
    cursor:pointer;
    font-family: 'Raleway', sans-serif;
  
}

button:hover {
    background: linear-gradient(to right, #0a857c, #63afcf);
}

.grid-one {
    display: grid;
    grid-template-areas:  
        "left-top right-top"
        "left-buttom right-buttom";
    grid-auto-flow: row;
    justify-content: center;
    align-items: center;
    align-content: center;
   grid-row-gap: 6rem;
    margin-top: 100px;
    grid-column-gap: 10rem;
}

.left-top {
    grid-area: left-top;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    align-content: center;
}


.left-buttom {
    grid-area: left-buttom;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    align-content: center;
}

.right-top {
    grid-area: right-top;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    align-content: center;
}

.right-buttom {
    grid: right-buttom;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    align-content: center; 
}

.h-two {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    margin-left: 0;
    text-transform: uppercase;
    margin-bottom:0px
}

.h-three {
    display: flex;
    justify-content: center;
    align-content: center;
    color: #d4d4d4d8;
    justify-content: center;
    text-align: center;
    max-width: 40ch;
    font-size: 18px;
}


.left-top::before {
    content: "";
    display: block;
    background: url(./images/Second-panel/grid-icon-1.svg) no-repeat;
    background-size: contain;
    width: 5rem;
    height: 5.5rem;
    margin: 0 auto;
    
}

.h-twoo::before {
    content: "";
    background: url(./images/Second-panel/grid-icon-3.svg) no-repeat;
    background-size: contain;
    display: block;
    width: 5.6rem;
    height: 5rem;
    margin: 8.4px 9.9rem;
    /* margin-bottom: 15px; */
    text-align: center;
}

.right-top::before {
    content: "";
    background: url(./images/Second-panel/grid-icon-2.svg) no-repeat;
    display: block;
    width: 5rem;
    height: 5.5rem;
    margin: 0 auto;
}

.h-twooo::before {
    content: "";
    background: url(./images/Second-panel/grid-icon-4.svg) no-repeat;
    display: block;
    width: 5.5rem;
    height: 5.5rem;
    margin: 0 auto;
}

.productiv {
    display: grid;
    grid-template-areas: "photo content";
    gap: 0px;
    margin-top: 10rem;
    width: auto;

}
.productiv::before {
    content: '';
    background: url(./images/illustration-stay-productive.png) no-repeat;
    width: 45vw;
    height: 43.3vw;;
    background-size: contain;
    grid-area: photo;
   display: flex;
   justify-content: center;
   align-content: center;
   align-items: center;
   margin: 0 auto;
   margin-left: 110px;
   

}

.content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-between;
    align-items: flex-start;
    margin-top: 110px;
}

.content h1 {
    color: white;
    max-width: 15ch;
    font-size: 40px;
    margin-top: 50px;
}

.content p {
    color:#c6cbcd;
    max-width: 62ch;
    font-size: 18px;
    margin-top: 1rem;
    line-height: 1.5
}

.content a {
    color: #65e2d9;
    font-size: 18px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

.content a::before {
    content: "";
    width: 11.2rem;
    height: 2px;
    background-color: #65e2d9;
    position: absolute;
    display: block;
}

.content a::after {
    content: "";
    background: url(./images/icon-arrow.svg) no-repeat;
    width: 1rem;
    height: 1rem;
    transform: translateY(-2.5px) translateX(2.5px);
    -webkit-transform: translateY(-2.5px) translateX(5px);
    -moz-transform: translateY(-2.5px) translateX(2.5px);
    -ms-transform: translateY(-2.5px) translateX(2.5px);
    -o-transform: translateY(-2.5px) translateX(2.5px);
}

.details-grid {
    display: grid;
    grid-template-areas: "one two three";
    width: 70%;
    gap: 20px;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 100px;
}

.details-grid::after {
    content: "";
    width: auto;
    height: 25vh;
}
.person-one {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    flex-direction: column-reverse;
    grid-area: one;
    background-color: #202a3c;
    border-radius: 8px;
    padding: 20px 40px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    -webkit-box-pack: center;
}

.person-one p {
    color: #c6cbcd;
   
}

.person-one .name {
    color: white;
    font-weight: 700;
    font-size: 12px;
}

.person-one .title {
    color: white;
    font-size: 12px;

}

.personal-details-one {
    position: relative;
    padding-left: 40px;
}
.personal-details-one::before {
    content: '';
    background: url(./images/person-1.jpg) no-repeat;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-size: contain;
    display: flex;
    flex-direction: row;
    position: absolute;
    transform: translateX(-40px);
    -webkit-transform: translateX(-40px);
    -moz-transform: translateX(-40px);
    -ms-transform: translateX(-40px);
    -o-transform: translateX(-40px);
}

.person-two {
    grid-area: two;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    flex-direction: column-reverse;
    background-color: #202a3c;
    border-radius: 8px;
    padding: 20px 40px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.person-two p {
    color: #c6cbcd;
   
}

.person-two .name {
    color: white;
    font-weight: 700;
    font-size: 12px;
}

.person-two .title {
    color: white;
    font-size: 12px;

}

.personal-details-two {
    position: relative;
    padding-left: 40px;
}
.personal-details-two::before {
    content: '';
    background: url(./images/person-2.jpg) no-repeat;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-size: contain;
    display: flex;
    flex-direction: row;
    position: absolute;
    transform: translateX(-40px);
    -webkit-transform: translateX(-40px);
    -moz-transform: translateX(-40px);
    -ms-transform: translateX(-40px);
    -o-transform: translateX(-40px);
}


.person-three {
    grid-area: three;
    display: flex;
    /* justify-content: ; */
    align-items: flex-start;
    align-content: center;
    flex-direction: column-reverse;
    background-color: #202a3c;
    border-radius: 8px;
    padding: 20px 40px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.person-three p {
    color: #c6cbcd;
   
}

.person-three .name {
    color: white;
    font-weight: 700;
    font-size: 12px;
}

.person-three .title {
    color: white;
    font-size: 12px;

}


.personal-details-three {
    position: relative;
    padding-left: 40px;
}
.personal-details-three::before {
    content: '';
    background: url(./images/person-3.jpg) no-repeat;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-size: contain;
    display: flex;
    flex-direction: row;
    position: absolute;
    transform: translateX(-40px);
    -webkit-transform: translateX(-40px);
    -moz-transform: translateX(-40px);
    -ms-transform: translateX(-40px);
    -o-transform: translateX(-40px);
}


.access-box {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   align-content: center;
   background-color: #202a3c;
   max-width: 64rem;
   max-height: 16.5rem;
   margin: 0 auto;
   border-radius: 8px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   -ms-border-radius: 8px;
   -o-border-radius: 8px;
   margin-bottom: 100px;
   padding-bottom: 40px;
   position: absolute;
   z-index: 2;
   /* -webkit-transform: translateX(50%) translateY(-50%); */
   padding-left: 20px;
   padding-right: 20px;
   padding-top:20px ;
   top: 0;
   left: 50%;
   transform: translate(-50%, -50%);
}

.highlited-text{
    color: white;
    font-weight: 700;
    font-size: 32px;
}

.description {
    color: #c6cbcd;
    max-width: 79ch;
    text-align: center;
    font-size: 1rem;
    line-height: 150%;
}

.inputs {
    display: grid;
    grid-template-areas: "site site site btn";
    align-items: center;
    gap: 20px;
}

.web-site {
  display: flex;
    width: 37rem;
    height: 3rem;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    /* padding-bottom: 5px; */
    border: 0px solid;
    outline: none;
    font-size: 13px;
    grid-area: site;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: start;
    padding-left: 10px;
    margin-top: unset;
    
}

.access-btn {
    display: flex;
   grid-area: btn;
   
   align-items: center;
   align-content: center;
   justify-content: center;
   margin-top: unset;
   font-size: 13px;
}

.footer-components {
    background-color: #0B1523;
    
    display: grid;
    width: auto;
    height: 40vh;
    grid-template-areas:
     "location telepohne about contact socials"
     "location mail jobs terms ."
     ". . press privacy ."
     ". . blog . .";
     color: white;
     justify-content: space-around;
     align-content: flex-end;
     position: relative;
     gap: 10px;
     padding-bottom: 40px;
}

.location {
    max-width: 55ch;
    position: relative;
}

.location::before {
    content: "";
    background: url(./images/logo.svg) no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transform: translateY(-70px) translateX(0px);
}

.location i {
    position: absolute;
    transform: translateX(-40px) translateY(5px);
    -webkit-transform: translateX(-40px) translateY(5px);
    -moz-transform: translateX(-40px) translateY(5px);
    -ms-transform: translateX(-40px) translateY(5px);
    -o-transform: translateX(-40px) translateY(5px);
    font-size: 36px;
}

.telephone {
    position: relative;
    font-size: 20px;
    margin-bottom: 20px;
}

.telephone::before {
    content: "";
    background: url(./images/icon-phone.svg) no-repeat;
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    position: absolute;
    transform: translateX(-25px) translateY(5px);
    -webkit-transform: translateX(-25px) translateY(5px);
    -moz-transform: translateX(-25px) translateY(5px);
    -ms-transform: translateX(-25px) translateY(5px);
    -o-transform: translateX(-25px) translateY(5px);
}

.mail {
    font-size: 20px;
    position: relative;
}

.mail::before {
    content: "";
    background: url("./images/icon-email.svg") no-repeat;
    width: 1.25rem;
    height: 1.25rem;
    position: absolute;
    transform: translateX(-25px) translateY(6px);
    -webkit-transform: translateX(-25px) translateY(6px);
    -moz-transform: translateX(-25px) translateY(6px);
    -ms-transform: translateX(-25px) translateY(6px);
    -o-transform: translateX(-25px) translateY(6px);
   
}

.footer-tags {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    gap:5vw;
    margin-top: unset;
    width: auto;
    height: 4vh;
    

  

}

.footer-tags a{
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.footer-tags ul,li {
    
    list-style: none;
    margin-top: 0;
    
}

.about {
    grid-area: about;
}

.jobs {
    grid-area: jobs;
}

.perss {
    grid-area: press;
}

.blog {
    grid-area: blog;
}

.contact {
    grid-area: contact;
}

.terms {
    grid-area: terms;
}

.privacy {
    grid-area: privacy;
}

.social-icons {
    text-decoration: none;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    display: inline;
    
}

.social-icons a{
    color: white;
    font-size: 30px;
    margin: 0 5px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    border: none;
    outline: none;
    text-decoration: none;
    
}

.social-icons a:hover {
font-size: 45px;    
}

.footer-tags a:hover {
    font-size: 120%;
    color: white;
}

/* Media Queries */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
   .hero {
       max-width: 575.98px;
       height: 100%;
   }

   .header img{
       height: 1.25rem;
   }

   ul li {
       font-size: 1rem;
   }
 

 li a {
 font-size: 1rem;
 }

 .first-headline::before {
    width: 30rem;
    height: 21rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 40px 20px;
    padding-bottom: 40px;
 }

 .first-headline {
     font-size: 1.5rem;
 }
 .second-headline {
    font-size: 17px;
 }

 .grid-one {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
     
 }

.productiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-top: 60px;
}

 .productiv::before {
    width: 85vw;
    height: 64vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-top: 30px;
 }

.content {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin-top: 60px;
}

.content h1 {
    font-size: 31px;
    max-width: 550px;
    margin: 1rem 2rem;
    margin-top: 0px;
    
}
.content p {
    font-size: 17px;
    max-width: 550px;
    display: flex;
    justify-content: center;
    margin: 1rem 2rem;
}

.content a {
    margin: 1rem 2rem;
}
.details-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 7rem;
}
.access-box {
    max-width: 80%;
    
}
.access-box .inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.access-box .inputs .web-site {
    width:  27rem;
}

.access-box button{
    width: 27rem;
}
.footer-components {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 50px 0;
    padding-left: 50px;
    
}
.footer-tags {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    justify-content: flex-start;
    margin-top: 20px;
}
.footer-tags ul {
    margin: 0;
    padding: 0;
    
}

.footer-tags a {
    font-size: 20px;
}


.social-icons i {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    display: inline-flex;
    font-size:  40px;
}


.social-icons a:hover {
    font-size: unset;
}

.location::before {
    margin-top: 10px;
    padding-bottom: 10px;
    -webkit-transform: translateY(-120px) translateX(0px);
}
.location {
    font-size: 20px;
    margin-bottom: 10px;
}
.location i {
    -webkit-transform: translateX(-24px) translateY(5px);
    font-size: 22px;
}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
   
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    

 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    

 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    

 }